{erl_opts, [
  debug_info,
  warn_missing_spec,
  warning_as_errors
]}.
{cover_enabled, true}.
{shell, [
  {apps, [sip_client]},
  {config, "config/sys.config"}]}.
{deps, [
]}.
{profiles, [
  {test, [
    {deps, [
      meck
    ]},
    {cover_excl_mods, [sip_line, sip_client_sup]}
  ]}
]}.
{relx, [
  {release,{sip_client,"0.1.0"},[sip_client]},
  {overlay, [{copy, "priv/", ""},
             {copy, "config/", ""}]},
  {sys_config, "config/sys.config"},
  {extend_start_script,true},
  {include_src, false}
]}.
